# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\拿的出手的项目\6.830\simple-db-hw-2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
